.root {
    -fx-font-family: SansSerif;
    -fx-font-size: 18;
    -fx-font-weight: 700;
    -fx-background-color: #fff;
}

#topPanel {
    -fx-background-color: #6200EE;
    -fx-padding: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0);
 }

#projectTitle {
    -fx-control-inner-background: #6200EE;
    -fx-background-color: inherit;
    -fx-focus-traversable: false;
}

.btn {
    -fx-text-fill: #ffffff;
    -fx-font-weight: normal;
    -fx-max-width: 160px;
    -fx-min-width: 160px;
}

#alcoholBtn {
    -fx-background-color: #76FF03;
}

#otherBtn {
    -fx-background-color: #FFEA00;
}

#infoBtn {
    -fx-background-color: #D500F9;
}